<div class="container" id="home-contrainer">
  <div class="p-5 mb-4 bg-light rounded-3 jumbotron text-center text-white">
    <div class="container-fluid py-1">
      <h1 class="display-5 fw-bold">Bob Loblaw's Law Blog</h1>
      <p class="jumbotron-text fs-4">Why should you go to jail for a crime somebody else noticed?<br>
        You don't need double talk! You need Bob Loblaw!</p>
      <button class="btn btn-success btn-lg" type="button">Sign up</button>
    </div>
  </div>
</div>

</div>
<div class="footer">
  <p>Bob Loblaw: Dropping Law Bombs since 2022</p>
</div>
