<div class="container" id="home-contrainer">
  <div class="p-5 mb-4 bg-light rounded-3 jumbotron text-center text-white">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Bob Loblaw's Law Blog</h1>
      <p class=" fs-4">Why should you go to jail for a crime somebody else noticed?<br>
        You don't need double talk! You need Bob Loblaw!</p>
      <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
  </div>
</div>
