@import "bootstrap";

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-contrainer {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url("unsplash_gavel.avif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 75vh;

  .jumbotron-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  background-color: rgb(25, 135, 84);

  p {
    margin-top: 15px;
  }
}

